.container {
   margin: 20px 0;
   padding: 0 10px;
   line-height: 1.6;
   font-size: 22px;
}
.title {
   font-size: 24px;
   margin-bottom: 10px;
}
.text__attention {
   color: #2b2572;
   font-size: 23px;
   margin: 10px 0 20px 0;
}
.attention__text a,
.attention__text span {
   color:black;
}
.form {
   width: 50%;
}
.form__lab_inp_container {
   display: flex;
   flex-direction: column;
   row-gap: 5px;
   margin: 10px 0 20px 0;
   input {
      width: 100%;
      padding: 10px 5px;
      font-size: 19px;
      border-radius: 4px;
      border: 1px solid black;
      outline-color: #2b2572;
   }
}
.form__error_text {
   color: red;
}
.form__lab_check_container {
   display: flex;
   align-items: center;
   margin: 5px 0;
   gap: 10px;
}
.form__check {
   width: 20px;
   height: 20px;
   cursor: pointer;
}
.form__lab_check {
   cursor: pointer;
}
.form__button {
   margin-top: 10px;
   width: 100%;
   padding: 12px 5px;
   font-size: 90%;
   border-radius: 4px;
   border: none;
   outline-color: #2b2572;
   cursor: pointer;
   background-color: #2b2572;
   color: white;
}
.form__input_box {
   position: relative;
}
.form__icon_box {
   position: absolute;
   right: 0;
   top: 7px;
   margin-right: 7px;
   i {
      cursor: pointer;
   }
}
.form__forgpass {
   margin: 15px 0 7px 0;
   font-size: 18px;
}
.form__forgpass_link {
   color: black;
   outline-color: #2b2572;
}


@media (max-width: 600px) {
   .container {
      font-size: 20px;
   }
   .title {
      font-size: 23px;
   }
   .text__attention {
      font-size: 21px;
   }
   .form {
      width: 100%;
   }
}

@media (max-width: 400px) {
   .container {
      font-size: 18px;
   }
   .title {
      font-size: 21px;
   }
   .text__attention {
      font-size: 20px;
   }
   .form__input {
      font-size: 18px;
   }
}


@media (hover: hover) {
   .form__button:hover {
      background-color: #1e1a4b;
   }
   .form__icon_box i:hover {
      color: #1e1a4b; 
   }
}
